*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color-scheme: dark light;
    scrollbar-width: 16px;
}



:root{
        /*Color Styles*/
        --white: #FCFCFA;
        --black: #1E1D1C;
        --grey-light: #EDEDDE;
        --grey-dark: #5C5C4F;
        --light-overlay: #5C5C4F55;
        --dark-overlay: #1E1D1C90;
        --thin-overlay: #5C5C4F20;
        --red: #C11212;
        --blend: difference;
        --aeGreen: #BAE8D7;
        --dogStalker: #e895bf;
        --iShopEco: #D5E6F7;
        --adaptabilityEd: #49BEB7;
        --dudleyEditions: #FA9583;
        --hiveMeUp: #F39712;

}

body, header, nav, footer, main, section, div, p, img, span, button, a, h1, h2, h3, h4, h5, h6{
    display: flex;
}

body, header, main{
    flex-direction: column;
    background-color: var(--grey-light);
    width: calc(100vw - 16px);
    align-items: start;
}

body, header{
    overflow-x: hidden;
}

img{
    border: none;
    outline: none;
}

nav button img{
 content: url(Images/menu.svg);
 mix-blend-mode: var(--blend);
}
.nav_img{
    content: url(Images/menu_white.svg);
}
.close_img {
content: url(Images/cancel_white.svg);
}
.white_color{
    color: white;
}
.black{
    color: black;
}
.close{
    display: none;
}
.open{
    display: flex;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    color: var(--black);
}



p, a, button{
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: var(--black);
}

button{
    align-items: center;
}

header{
    justify-content: center;
    align-items: center;

    > section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 160px 2.5vw 160px 2.5vw;
        width: 100%;

        > p{
            width: 30%;
        }

        > div{
            justify-content: space-between;
            align-items: center;
            width: 100%;

            > div{
                gap: 24px;
                
                div{
                    width: 48px;
                    border-radius: 24px;
                    background-color: var(--black);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    animation-name: profileTransition;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-timing-function: step-end;
                }
            }

            span{
                flex-wrap: wrap;
                justify-content: end;
                gap: 12px;
                width: 35%;


                p{
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 400;
                    padding: 6px 12px;
                    border: 1px solid var(--black);
                    border-radius: 10px;
                }
            }
        }
    }
}

@keyframes profileTransition{
    0%{
        background-image: url(Images/Claire1.png);
    }
    
    33%{
        background-image: url(Images/Claire2.png);
    }

    67%{
        background-image: url(Images/Claire3.png);
    }
}

.caseTemplate header{

    > section{
        padding: 120px 0 120px 2.5vw;
        align-items: start;
        gap: 64px;

        > div{
            align-items: start;
            height: 80vh;
            width: 100%;
            gap: 64px;

            > section{
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                gap: 24px;
                margin-right: 2.5vw;
                

                > div{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    animation-timing-function: step-end;
                    animation-iteration-count: infinite;
                }

            }
        }
    

        h2{

            width: 70%;
            max-width: 720px;
        }
    
        p{
            width: 480px;
            margin-top: 30vh;
        }
    }

}

.dogStalkerCase header > section > div > section{

    background-color: var(--dogStalker);

    > div{
        animation-duration: 14s;
        background-size: calc(100% - 64px) auto;
    }

    > div:first-child{
        animation-name: dogHero1;
    }

    > div:last-child{
        animation-name: dogHero2;
    }
}

#adaptabilityEdCase header > section > div > section{

    background-color: var(--adaptabilityEd);
    margin-right: 0;
    justify-content: flex-start;
    align-items: start;

    > div{
        animation-name: adaptTransition1;
        animation-duration: 12s;
        background-size: 140% auto;
        background-position: top 48px left 48px;
    }
}


@keyframes adaptTransition1 {
    0%{
        background-image: url(Images/adaptabilityEd/mocks/Homepage.png);
    }

    20%{
        
        background-image: url(Images/adaptabilityEd/mocks/Create\ Activity.png);

    }

    40%{
        background-image: url(Images/adaptabilityEd/mocks/Created\ Activity.png);
    }

    60%{
        background-image: url(Images/adaptabilityEd/mocks/Search\ Library.png);
    }

    80%{
        background-image: url(Images/adaptabilityEd/mocks/Forum\ Profile2.png);
    }

}

@keyframes dogHero1{

    0%{
        background-image: url(Images/dogStalker/User\ Profile.png);
        background-position: top 48px center;
    }

    20%{
        
        background-image: url(Images/dogStalker/My\ Paws.png);

    }

    40%{
        background-image: url(Images/dogStalker/Interests.png);
    }

    60%{
        background-image: url(Images/dogStalker/Post\ with\ Media\ Options.png);
    }

    80%{
        background-image: url(Images/dogStalker/Community-1.png);
    }

   
    
}

@keyframes dogHero2{

    0%{
        background-image: url(Images/dogStalker/Messages\ List.png);
        background-position: bottom 48px center;
    }

    20%{
        
        background-image: url(Images/dogStalker/Messages.png);

    }

    40%{
        background-image: url(Images/dogStalker/Manage\ Breeds.png);
    }

    60%{
        background-image: url(Images/dogStalker/Admin\ Preferences.png);
    }

    80%{
        background-image: url(Images/dogStalker/Create\ Post.png);
    }
    
}


.alink{
    color: inherit;
}

nav{
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 16px);
    padding: 16px 2.5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    backdrop-filter: blur(12px);
    
    a{
        font-family: "Gemunu Libre", sans-serif;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
    }

    button{
        gap: 8px;
        align-items: center;
        background-color: #00000000;
        border: 0px solid #00000000;
        text-align: left;
    }
}




@keyframes transition1{
    0%{
        background-position: top center;
    }

    100%{
        background-position: bottom 32px center;
    }
}

@keyframes transition2 {
    from{
        background-position: top left;
    }

    to{background-position: bottom 32px right 32px;
        

    }
}

@keyframes transition3 {
    from{
        background-image: url(Images/dudleyedition1.png);
    }

    to{
        background-image: url(Images/dudleyedition5.png);
    }

}

@keyframes truth {
    0%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd1.png);
    }

    20%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd2.png);
    }

    40%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd3.png);
    }

    60%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd4.png);
    }

    80%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd5.png);
    }
}



.showCase{
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 0 2.5vw;

    > section{
        flex-direction: row;
        width: 100%;
        height: 200vh;
        gap: 32px;


        > section{
            flex-direction: column;
            width: 100%;
            gap: 32px;
            height: 100%;

            div{
                height: 200px;
            }

            > a {
                height: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: end;
                gap: 40px;
                padding: 32px 32px 0 32px;
                overflow: hidden;

                > h5{
                    width: 100%;
                    color: var(--white);
                    text-align: left;
                }

                > div{
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    animation-duration: 12s;
                    animation-timing-function:ease-in-out;
                    animation-iteration-count: infinite;
                }

                > button p{
                    color: var(--white);
                }
            }

            > .case1{
                background-color: var(--dogStalker);
                

                > div{
                    width: 60%;
                    animation-name: transition1;
                    background-image: url(Images/dogstalker1.png);  
                }

            }



            > .case2{
                background-color: var(--adaptabilityEd);
                padding-bottom: 0px;
                padding-right: 0px;

                > div{
                    width: 90%;
                    background-size: cover;
                    animation-name: truth;
                    animation-duration: 10s;
                    animation-timing-function: step-end;
                    animation-iteration-count: infinite;
                }
            }


            > .case3{
                background-color: var(--iShopEco);

                > div{
                    background-image: url(Images/ishopeco1.png);
                    width: 90%;
                    animation-name: transition1;
                }

                > h5{
                    color: var(--black);
                }
            }

            > .case4{
                background-color: var(--dudleyEditions);

                > div{
                    width: 60%;
                    animation-name: transition1;
                    animation-duration: 30s;
                    animation-timing-function: linear;
                    background-image: url(Images/dudleyedition1.png);  
                }

                > h5{
                    color: var(--black);
                }
            }

            > .case5{
                background-color: var(--hiveMeUp);

                > div{
                    width: 60%;
                    animation-name: transition1;
                    animation-duration: 50s;
                    animation-timing-function: linear;
                    background-image: url(Images/hivemeup1.png);  
                }

                > h5{
                    color: var(--black);
                }
            }

            > p{
                width: 70%;
            }


            button{
                width: fit-content;
                height: 48px;
                gap: 8px;
                background-color: #00000000;
                border: 0px solid #00000000;
            }

        }
    }
}




.titleText{
    flex-direction: column;
    gap: 8px;

    > .pointer{
        display: flex;
        gap: 8px;
    }
}


h1{
    font-size: 80px;
    line-height: 96px;
}

h2{
    font-size: 56px;
    line-height: 72px;
}

h3{
    font-size: 32px;
    line-height: 48px;
}

h4{
    font-size: 24px;
    line-height: 32px;
}


.aboutMe{
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 160px 2.5vw 0 2.5vw;

    > section{
        justify-content: space-between;
        align-items: end;
        width: 100%;
        height: 70vh;
        max-height: 600px;

        > section{
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 60%;

            button{
                width: fit-content;
                height: 48px;
                gap: 8px;
                background-color: #00000000;
                border: 0px solid #00000000;
            }
        }

        > img{
            width: 25%;
            aspect-ratio: 1.75;
            min-height: 320px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            animation-name: profileTransition;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            animation-timing-function: step-end;
            
        }
        
    }
}

@keyframes carousel {
    from{
        order: 5;
    }
    
    to{
        order: 1;
    }
}

.fullCarousel{
    width: calc(100vw - 16px);
    overflow: hidden;
    height: max-content;
    
    > section{
        height: max-content;
        
        > section{
            width: 100%;
            height: max-content;
            animation-name: carousel;
            animation-iteration-count: infinite;
            animation-timing-function: step-end;
            animation-duration: 6s;
            padding: 120px 2.5vw 80px 2.5vw;
            justify-content: space-between;
            align-items: end;

            > div{
                flex-direction: column;
                height: 100%;
                gap: 8px;
                justify-content: end;
                align-items: end;
                text-align: right;
            }

            > section:first-of-type{
                flex-direction: column-reverse;
                gap: 8px;
                align-items: center;
                text-align: center;
            }

            img{
                width: 160px;
                height: 160px;
                background-color: var(--black);
            }

            h3{
                width: 480px;
            }

        }

        > section:first-of-type{
            animation-delay: 0s;
        }

        > section:nth-of-type(2){
            animation-delay: 6s;
        }

        > section:nth-of-type(3){
            animation-delay: 12s;
        }

        > section:nth-of-type(4){
            animation-delay: 18s;
        }

        > section:last-of-type{
            animation-delay: 24s;
        }
    }
}

.templateSection1, .templateSection1_alt{

    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 24px 2.5vw 80px 2.5vw;

    > section{
        flex-direction: column;
        width: 100%;
        gap: 40px;

        h3{
            width: 45vw;
        }

        > section{
            gap: 40px;
            width: fit-content;
            height: 80vh;

            img{
                width: 60vw;
                max-width: 560px;
                height: 100%;
            }

            > section{
                flex-direction: column;
                gap: 24px;
            }
        }
    }
}

.templateSection1_alt{
    
    > section{

        > section{
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            > img{
                width: 60%;
                max-width: none;
            }

            > section{
                width: 360px;
            }
        }
    }
}

.colorandtype{
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.dogStalkerCase .colorandtype{
    background-image: url(Images/dogStalker/colorandtype.png);
}

#adaptabilityEdCase .colorandtype{
    background-image: url(Images/adaptabilityEd/colorandstyle.png);
}

.summaryImage{
    animation-duration: 7.5s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}


.problem{
    animation-duration: 7.5s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}


.dogStalkerCase .summaryImage{
    background-color: var(--dogStalker);
    animation-name: dogTransition1;
    background-size: 60% auto;
}

#adaptabilityEdCase .summaryImage{
    background-color: var(--adaptabilityEd);
    animation-name: adaptTransition1;
    animation-duration: 12s;
    background-size: 160% auto;

    background-position: top 48px left 48px;
}

.dogStalkerCase .problem{
    background-color: var(--dogStalker);
    animation-name: dogTransition2;
    background-size: 60% auto;
}

#adaptabilityEdCase .problem{
    background-color: var(--adaptabilityEd);
    animation-name: adaptTransition3;
}


@keyframes dogTransition1 {
    
    0%{
        background-image: url(Images/dogStalker/Splash\ Screen.png);
        background-position: center center;
    }

    25%{
        background-image: url(Images/dogStalker/Onboarding\ 1.png);
        background-position: bottom 48px center;
    }

    50%{
        background-image: url(Images/dogStalker/Add\ New\ Dawg.png);
        background-position: top 48px center;
    }

    75%{
        background-image: url(Images/dogStalker/Search-1.png);
    }


}


@keyframes dogTransition2 {

    0%{
        background-image: url(Images/dogStalker/pexels-cottonbro-5999682.jpg);
        background-size: cover;
        background-position: center center;
    }

    10%{
        background-image: url(Images/dogStalker/pexels-karolina-grabowska-6214831.jpg);
        background-size: cover;
        background-position: bottom center;
    }

    20%{
        background-image: url(Images/dogStalker/pexels-ron-lach-9785008.jpg);
    }

    40%{
        background-image: url(Images/dogStalker/Messages\ List.png);
        background-size: 60% auto;
        background-position: center center;
    }

    60%{
        background-image: url(Images/dogStalker/Community.png);
        background-size: 60% auto;
        background-position: center center;
    }

    80%{
        background-image: url(Images/dogStalker/Post\ with\ Media\ Options.png);
        background-size: 60% auto;
        background-position: bottom 48px center;
    }

}


.templateSection2{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 32px;
    padding: 80px 2.5vw 80px 2.5vw;

    > .reverseTemplate2{
        flex-direction: row-reverse;
    }

    > section{
        justify-content: space-between;
        height: 100%;
        width: 100%;

        > section{
            flex-direction: column;
            height: 100%;
            gap: 24px;
            width: 40vw;
            
            img{
                width: 100%;
                height: 100%;
                background-color: var(--black);
                background-size: cover;
            }

            h3{
                width: 520px;
            }

            p{
                width: 100%;
            }

        }

        > section:first-of-type{
            justify-content: space-between;
            width: fit-content;

            img{
                width: 200px;
                height: 200px;
            }

        }
    }

}

.caseTemplate{
    .insights1, .insights2{
        img{
            animation-timing-function: step-end;
            animation-duration: 7.5s;
            animation-iteration-count: infinite;
            background-position: center center;
            background-repeat: no-repeat;
        }

        > section{
            img:first-child{
                background-size: 45% auto;
            }
        }
    }

    .insights1{
        padding-bottom: 0;
        }

}

#adaptabilityEdCase #insights1Padded{
    padding-top: 0;
    padding-bottom: 80px;
}

.dogStalkerCase{
    .insights1, .insights2{
        > section{
            img{
                background-color: var(--dogStalker);
            }

        }
    }

    .insights1{

        > section{
            img:last-child{
                animation-name: dogTransition3;
            }

            img:first-child{
                animation-name: dogTransition5;
            }
        }
    }

    .insights2{
        > section{
            img:last-child{
                animation-name: dogTransition4;
            }

            img:first-child{
                animation-name: dogTransition6;
            }
        }
    }
}

#adaptabilityEdCase{
    .insights1, .insights2{
        > section{
            img{
                background-color: var(--adaptabilityEd);
                animation-duration: 7s;

            }

            img:first-child{
                background-size: 160% auto;
            }

        }
    }

    .insights1{

        > section{
            img:last-child{
                animation-name: adaptTransition2;
                animation-delay: 3.5s;
            }

            img:first-child{
                animation-name: adaptTransition1;
                background-position: top 48px left 48px;
            }
        }
    }

    .insights2{
        > section{
            img:last-child{
                animation-name: adaptTransition2;
            }

            img:first-child{
                animation-name: adaptTransition1;
                background-position: top 48px right 48px;
                animation-delay: 4s;
            }
        }
    }
}


@keyframes dogTransition3{
    0%{
        background-image: url(Images/dogStalker/Photos/pexels-bethany-ellis-1293051914-28931358.jpg);
    }

    50%{
        background-image: url(Images/dogStalker/Photos/pexels-koolshooters-7682537.jpg);
    }
}

@keyframes dogTransition4{
    0%{
        background-image: url(Images/dogStalker/Photos/pexels-silverkblack-20883992.jpg);
    }

    50%{
        background-image: url(Images/dogStalker/Photos/pexels-samson-katt-5255206.jpg);
    }
}

@keyframes dogTransition5 {
    0%{
        background-image: url(Images/dogStalker/Post\ with\ Media\ Options.png);
        background-position: bottom 48px center;
    }

    50%{
        background-image: url(Images/dogStalker/Post.png);
        background-position: top 48px center;
    }
}

@keyframes dogTransition6 {
    0%{
        background-image: url(Images/dogStalker/Ads.png);
        background-position: top 48px center;

    }

    50%{
        background-image: url(Images/dogStalker/Search-1.png);
        background-position: top 48px center;
    }
}

@keyframes adaptTransition2 {
    0%{
        background-image: url(Images/adaptabilityEd/pexels-abd-alrhman-al-darra-337910335-30230080.jpg);
    }

    50%{
        background-image: url(Images/adaptabilityEd/pexels-arjunadinata-30248235.jpg);
    }
}

@keyframes adaptTransition3{
    0%{
        background-image: url(Images/adaptabilityEd/pexels-abd-alrhman-al-darra-337910335-30230080.jpg);
        background-size: cover;
        background-position: center center'
    }

    25%{
        background-image: url(Images/adaptabilityEd/pexels-arjunadinata-30248235.jpg);
        background-size: cover;
        background-position: center center'
    }

    50%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd5.png);
        background-size: 120% auto;
        background-position: top 48px left 48px;
    }

    75%{
        background-image: url(Images/adaptabilityEd/adaptabilityEd6.png);
        background-size: 120% auto;
        background-position: top 48px left 48px;
    }

    
}

.templateSection3{
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 32px;
    padding: 24px 2.5vw 80px 2.5vw;

    > section{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: end;
        gap: 24px;

        > section{
            width: 100%;
            height: 640px;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            > section{
                width: fit-content;
                height: fit-content;
                gap: 56px;
                margin-right: 2.5vw;
                justify-content: center;
                align-items: center;      
        
                > div{
                    width: fit-content;
                    height: fit-content;
                    flex-direction: column;
                    gap: 48px;
        
                    > img{
                        width: 15vw;
                        height: auto;
                    
                    }
        
                }
        
                > div:nth-of-type(even){
                    margin-top: 48px;
                }
        
            }
        }

        p{
            width: 560px;
            max-width: 100%;
            text-align: right;
        }
    }
}

.dogStalkerCase .templateSection3 > section > section{
    background-color: var(--dogStalker);
}

#adaptabilityEdCase .templateSection3 > section > section{
    background-color: var(--adaptabilityEd);
}

#adaptabilityEdCase .noPadding{
    padding: 0 2.5vw;
    .templateAlt4{
        align-items: center;
    }
}


.templateSection4{
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 24px 2.5vw 80px 2.5vw;

    > .templateAlt4{

        > section{
            align-items: start;
        }
    }

    > section{
        flex-direction: column;
        width: 100%;
        gap: 24px;

        h3{
            width: 45vw;
        }

        p{
            width: 440px;
        }

        > section{
            flex-direction: column;
            gap: 24px;
            width: 100%;
            align-items: center;

            > .templateAlt4_1{
                width: 100%;
                height: 95vh;
                max-height: 720px;
                animation-duration: 8s;
                animation-iteration-count: infinite;
                animation-timing-function: step-end;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto calc(100% - 80px);
            }

            > section{
                width: 100%;
                overflow-x: scroll;
                scrollbar-width: none;

                > section{
                    gap: 48px;
                    width: fit-content;
                    justify-content: center;
    
                    > div{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        height: 560px;
                        width: 480px;

                        overflow: hidden;

                        > img{
                            width: 60%;
                            height: 100%;
                            object-fit: cover;
                            object-position: bottom center;
                        }

                        > p{
                            padding: 32px;
                            justify-content: center;
                        }
                    }

                    .topType{
                        flex-direction: column-reverse;

                        > img{
                            object-position: top center;
                        }
                    }
                }
            }
        }
    }

}

#adaptabilityEdCase .templateSection4 > section > section > section > section{
    > div{
        width: 60vw;
        aspect-ratio: 0.7;
        padding: 0 48px;
        align-items: start;


        > img{
            height: auto;
            width: 120%;
            object-fit: cover;
        }

        > p{
            width: 100%;
        }
    }
}

.dogStalkerCase .templateAlt4_1{
    background-color: var(--dogStalker);
    animation-name: dogPrototype;
}

#adaptabilityEdCase .templateAlt4_1{
    background-color: var(--adaptabilityEd);
    animation-name: adaptPrototype;
}

#adaptabilityEdCase .templateSection4 .templateAlt4_1{
    width: 100%;
    background-size: auto 80%;
}

.caseTemplate > main .templateSection4 > section > .arrowPointer{
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    background-color: transparent;

    > p{
        width: fit-content;
        background-color: transparent;
    }
}

#adaptabilityEdCase > main > .templateSection4 > section > .arrowPointer{
    background-color: transparent;

    >p{
        background-color: transparent;
    }
}

@keyframes dogPrototype{
    
    0%{
        background-image: url(Images/dogStalker/Videos/Onboarding.gif);
    }

    50%{
        background-image: url(Images/dogStalker/Videos/Search\ Flow.gif);
    }
}

@keyframes adaptPrototype{
    
    0%{
        background-image: url(Images/adaptabilityEd/adaptContent.gif);
    }
}

.dogStalkerCase .templateSection4 section > div, .dogStalkerCase .templateSection4 div > p{
    background-color: var(--dogStalker);
}

#adaptabilityEdCase .templateSection4 section > div, #adaptabilityEdCase .templateSection4 div > p{
    background-color: var(--adaptabilityEd);
}

.templateSection5{
    flex-direction: column;
    width: 100%;
    height: 150vh;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: right;
    position: relative;
    overflow: hidden;

    h5{
        width: 100vw;
        position: absolute;
        text-align: right;
        color: var(--black);
        top: 0;
        left: 0;
        padding: 64px 2.5vw 48px 2.5vw;
    }

    > section{
        width: fit-content;
        height: fit-content;
        gap: 56px;
        margin-right: 2.5vw;
        justify-content: center;
        align-items: center;      

        > div{
            width: fit-content;
            height: fit-content;
            flex-direction: column;
            gap: 48px;

            > img{
                width: 15vw;
                height: auto;
            
            }

        }

        > div:nth-of-type(even){
            margin-top: 48px;
        }

    }

}

.dogStalkerCase{

    .templateSection5 {
        background-color: var(--dogStalker);

        h5{
            background-color: var(--dogStalker)
        }
    }
}

#adaptabilityEdCase{

    .templateSection5 {
        height: fit-content;
        background-color: var(--adaptabilityEd);

        h5{
            background-color: var(--adaptabilityEd)
        }

        > section{
            height: fit-content;
            width: 100%;
            margin-right: 0;

            > div{
                width: 100%;
                height: fit-content;

                > img{
                    width: 100%;
                    height: 95vh;
                    background-image: url(Images/adaptabilityEd/adaptContent.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 80%;
                }
            }
        }
    }
}


.templateSection6{
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 80px 2.5vw;

    > section{
        width: 100%;
        height: 100%;
        justify-content: space-between;

        img{
            width: 400px;
            height: 400px;
            position: sticky;
            top: 200px;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            animation-timing-function: step-end;
            background-repeat: no-repeat;
        }

        > section{
            flex-direction: column;
            width: fit-content;
            height: fit-content;

            > section{
                flex-direction: column;
                border-bottom: 2px solid var(--black);
                gap: 16px;
                width: 480px;
                height: fit-content;
                padding: 24px 16px 24px 0;
    
                h4, p{
                    width: 100%;
                }
            }

        }
    }

}

.dogStalkerCase .templateSection6 > section > img{
    background-color: var(--dogStalker);
    animation-name: dogTransition7;
    background-size: 70% auto;
}

#adaptabilityEdCase .templateSection6 > section > img{
    background-color: var(--adaptabilityEd);
    animation-name: adaptTransition1;
    background-size: 140% auto;
    background-position: top 32px left 32px;
}


@keyframes dogTransition7 {
    0%{
        background-image: url(Images/dogStalker/Post\ with\ Media\ Options.png);
        background-position: bottom 48px center;
    }

    25%{
        background-image: url(Images/dogStalker/Community-1.png);
    }

    50%{
        background-image: url(Images/dogStalker/Ads.png);
        background-position: top 48px center;
        
    }

    75%{
        background-image: url(Images/dogStalker/My\ Paws.png);
    }
}

.topPadding{
    padding-top: 80px;
}


.tileHover1{
    > section:hover{
        background-color: rgb(220, 168, 255);
    }
}




footer{
    height: 100vh;
    width: 100%;
    padding: 80px 2.5vw;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    z-index: 5;
    position: relative;

    h4, p, h2{
        color: var(--white);
    }

    p{
        width: 320px;
    }

    section:first-of-type > h2{
        width: 60vw;
        max-width: 560px;
    }

    > section{
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    > section:last-of-type{
        align-items: end;
        text-align: right;
    }

    > img{
        position: absolute;
        bottom: calc(50vh - 200px);
        left: calc(50vw - 120px);
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        animation-name: profileTransition;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: step-end;
        background-position: center center;
        background-size: cover;
        background-color: var(--black);
    }

    div{
        gap: 48px;
    }
}



.menuPage{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 16px);
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
    padding: 160px 2.5vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;

    > img{
        width: 240px;
        aspect-ratio: 1;
        position: absolute;
        top: calc(50vh - 120px);
        left: calc(50vw - 120px);
        background-color: var(--black);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        animation-name: profileTransition;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: step-end;
    }

    > section{
        width: 100%;
        flex-direction: column;
        gap: 16px;

        div{
            gap: 40px;
            align-items: end;
        }

        h1, p, h4{
            color: var(--white);
            width: fit-content;
        }



        h1{
            padding: 16px 24px 16px 0;
        }

        h1:hover{
            border-bottom: 2px solid var(--white);
        }
    }

    > section:last-of-type{
        align-items: end;
        text-align: right;
    }
}



@media screen and (orientation: portrait) {
    header{
        > section{
            padding-top: 15vh;
            padding-bottom: 15vh;
        }

    }

    #adaptabilityEdCase .templateSection1 > section > section, #adaptabilityEdCase .templateSection1_alt > section > section{
        height: 45vh;

        >.summaryImage{
            height: 100%;
        }

        .problem{
            height: 100%;
        }
    }

    #adaptabilityEdCase .templateSection4 .templateAlt4_1{
        height: 60vh;
        background-size: 90% auto;
    }

    #adaptabilityEdCase .templateSection5{
        > section{
            > div{
                img{
                    height: 60vh;
                    background-size: 90% auto;
                }
            }
        }
    }

    .caseTemplate header{

        > section{

            height: 80vh;
            p{
                margin-top: 5vh;
            }
        }
    }

    .templateSection5{
        height: 90vh;
    }

    .showCase{
        > section{
            height: 120vh;
        }
    }

    .summaryImage{
        animation-name: dogTransition1_1;
    }

  }

  @media screen and (max-width: 1280px) {
    body, header, main, nav, .fullCarousel, .fullCarousel > section > section{
        width: calc(100vw - 16px);
    }
  }

  @keyframes dogTransition1_1 {
    0%{
        background-image: url(Images/dogStalker/Splash\ Screen.png);
        background-position: center center;
    }

    25%{
        background-image: url(Images/dogStalker/Onboarding\ 1.png);
        background-position: center center;
    }

    50%{
        background-image: url(Images/dogStalker/Add\ New\ Dawg.png);
        background-position: center center;
    }

    75%{
        background-image: url(Images/dogStalker/Search-1.png);
    }
}

  @media screen and (max-width: 900px) {

    body{
        scrollbar-width: 2px;
    }


    header > section, nav{
        padding-left: 16px;
        padding-right: 16px;
    }
    
    header{
        section{

            > p{
                width: 50%;
                min-width: 280px;
                padding-top: 16px;
            }

            > div{
                flex-direction: column-reverse;
                justify-content: flex-start;
                align-items: start;
                gap: 16px;

                
                > div{
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    width: 100%;
                }


                span{
                    width: 60%;
                    min-width: 360px;
                    justify-content: flex-start;

                    p{
                        font-size: 8px;
                        padding: 4px 8px;
                        border-radius: 8px;
                    }
                    
                }
            }
        }
    }

    .caseTemplate{

        > header{

            > section{
                padding-top: 5vh;
                padding-bottom: 5vh;
            }
        }
    }

    .caseTemplate header{

        height: 90vh;
        justify-content: flex-start;
        > section{
            height: 100%;
            min-height: fit-content;
            gap: 16px;
            padding: 120px 16px 64px 16px;

            > div{
                flex-direction: column;
                gap: 40px;
                align-items: end;
                height: 100%;
                min-height: 480px;

                > section{

                    margin-right: 0;
                    > div{
                        width: 100%;
                        height: 100%;
                    }
                }

                p{
                    width: 300px;
                    margin-top: 0;
                    text-align: right;
                }
            }
        }
    }

    .showCase{
        padding: 0 16px;

        > section{
            height: 100vh;

            > section{

               > p{
                width: 100%;
                }

                > a{
                    gap: 32px;
                    padding: 24px 24px 0 24px;
                }


            }
        }
    }

    .aboutMe{

        > section{
            height: fit-content;
            max-height: none;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: end;
            gap: 32px;

            > section{
                width: 100%;
                height: fit-content;
                align-items: start;
                gap: 16px;
            }

            > img{
                width: 30%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }


    .fullCarousel > section{
        > section{
            flex-direction: column;
            gap: 16px;

            > section:first-of-type{
                align-items: end;
                text-align: right;
            }

            h3{
                height: auto;
            }

            img{
                order: 1;
            }
    
        }

    }

    .templateSection1, .templateSection1_alt{
        > section{
            h3{
                width: 65vw;
            }
        }
    }

.problem{
    animation-name: dogTransition2_alt;

}

.dogStalkerCase{

    .insights1{

        padding-bottom: 0;

         > section{

            img:first-child{
                background-size: 60% auto;
            }
         }
        }

    .insights2{
        > section{

            img:first-child{
                background-size: 60% auto;
            }
         }
    }
}


    .templateSection2{
        padding: 80px 16px;

        > section{
            flex-direction: column;
            gap: 40px;

            > section{
                width: 100%;
                justify-content: flex-start;
                gap: 24px;

                img{
                    width: 50%;
                    height: 80%;
                }

                p{
                    width: 100%;
                    max-width: 320px;
                }
            }

            > section:first-child{
                justify-content: flex-start;
                height: fit-content;
            }

            > section:last-child{
                align-items: end;
                flex-direction: column-reverse;

                img{
                    width: 70%;
                    max-width: 500px;
                }
            }
        }

        > .reverseTemplate2{
            flex-direction: column;
            gap: 40px;

            > section{
                width: 100%;
                justify-content: flex-start;
                gap: 24px;

                p{
                    width: 100%;
                    max-width: 320px;
                }
            }

            > section:last-child{
                align-items: end;
                flex-direction: column-reverse;

                img{
                    width: 70%;
                    max-width: 500px;
                }
            }
        }
    }

    .templateSection5{
        height: 100vh;

        > section{

            > div{

                > img{
                    width: 25vw;
                }
            }
        }
    }

    .templateSection3{
        > section{

            > section{

                > section{

                    > div{

                        > img{
                            width: 25vw;
                        }
                    }
                }
            }
        }
    }

    .templateSection6{
        > section{

            justify-content: flex-start;
            gap: 48px;

            img{
                width: 100%;
                margin: 0;
            }

            > section{
                > section{
                    width: 400px;
                }
            }
        }
    }

    h1{
        font-size: 56px;
        line-height: 64px;
    }

    h2{
        font-size: 40px;
        line-height: 48px;
    }

    h3{
        font-size: 24px;
        line-height: 32px;
    }

    h4{
        font-size: 18px;
        line-height: 24px;
    }

    h5{
        font-size: 16px;
        line-height: 24px;
    }

    h6{
        font-size: 14px;
        line-height: 18px;
    }

    p{
        font-size: 14px;
        line-height: 24px;
    }

  }

@media screen and (max-width: 769px){
    body, header, main, nav, .fullCarousel, .fullCarousel > section > section{
        width: 100vw;
    }

    .templateSection6 > section > section > section{
        width: 100%;
    }
}

  @media screen and (max-width: 600px){

    html{
        scrollbar-width: 8px;
    }


    h1{
        font-size: 40px;
        line-height: 56px;
    }

    .templateSection1, .templateSection1_alt, .templateSection2, .templateSection3, .templateSection4, .templateSection5, .templateSection6, footer{
        padding: 64px 16px;
        gap: 24px;
    }

    .topPadding{
        padding-top: 64px;
    }

    header{
        section{
            > p{
                min-width: 0;
            }

            > div{
                span{
                    width: 45%;
                    min-width: 0;
                    gap: 8px;
                }
            }
        }
    }

    .caseTemplate header{
        height: 140vh;

        > section{

            > div{

                >  section{
                    gap: 24px;

                    > div{
                        width: 70%;
                    }

                    > div:last-child{
                        display: none;
                    }
                }
            }
        }
    }

    #adaptabilityEdCase header{

        height: 80vh;
        > section{
            > div{
                > section{
                    > div:last-child{
                        display: flex;
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
        }
    

    }

    .showCase{
        > section{
            flex-direction: column;
            height: fit-content;
            gap: 40px;

            > section{
                gap: 40px;
                height: fit-content;

                > div{
                    display: none;
                }

                > a{
                    gap: 32px;
                    padding: 16px 16px 0 16px;
                }


                > button{
                    height: 40px;
                    align-items: start;
                }

                > a{
                    height: 50vh;
                }
            }
        }
    }

    .aboutMe > section > img{
        min-height: 200px;
    }

    .fullCarousel > section{
        > section{

            h3{
                width: 360px;
                height: auto;
            }
    
        }

    }

    .templateSection1{
        > section{
            gap: 24px;
            h3{
                width: 70vw;
            }

            > section{
                gap: 24px;
                flex-direction: column;
                width: 100%;

                img{
                    width: 70%;
                    max-width: none;
                }
            }
        }
    }

    .templateSection1_alt{

        > section{

            > section{
                flex-direction: column;
                align-items: flex-start;

                > img{
                    width: 100%;
                }

                > section{

                    width: 80%;
                    max-width: 360px;
                }
            }
        }
    }

    #adaptabilityEdCase .templateSection1_alt > section > section{
        height: 90vh;
    }

    .templateSection1 > section, .templateSection1_alt > section{

        h3{
            width: 100%;
        }
    }

    .templateSection2{
        height: fit-content;

        > .reverseTemplate2{
            flex-direction: column-reverse;
        }

        > section{
            flex-direction: column;
            gap: 32px;

            > section{
                gap: 16px;
                width: 100%;
                height: 400px;

                h3, p {
                    width: 90%;
                }
                
            }

            > section:first-of-type{
                justify-content: flex-start;
                gap: 16px;
                height: fit-content;
            }

            > section:last-of-type{
                align-items: start;
            }
        }
    }

    .templateSection4{
        > section{
            h3{
                width: 90%;
            }
            p{
                width: 60%;
            }
        }
    }

    .templateSection5{
        h4{
            width: 240px;
        }
    }

    .templateSection5{
        height: 100vh;

        > section{

            > div{

                > img{
                    width: 27.5vw;
                }
            }
        }
    }


    .templateSection6{
        > section{
            flex-direction: column-reverse;
            gap: 16px;

            img{
                width: 200px;
                height: 200px;
                position: sticky;
                top: calc(40% - 100px);
                left: calc(100% - 200px);
            }

            > section{
                > section {
                    width: calc(100vw - 48px);
                }
            }
        }
    }

    footer{

      > section:first-of-type {
            > h2{
                width: 100%;
                max-width: none;
            }
        }
    }
  }



  @media screen and (max-width: 480px){
    .caseTemplate header{
        > section{
            > div{
                > section{
                    > div{
                        width: 100%;
                    }
                }
            }
        }
    }
  }

  @media screen and (max-width: 400px){

    nav{
        a{
            font-family: "Gemunu Libre", sans-serif;
            font-size: 18px;
            line-height: 32px;
            font-weight: 400;
        }
    }

    header{
        section{
            > p{
                width: 100%;
            }

            > div{
                span{
                    width: 80%;
                }

                > div{

                    div{
                        height: 56px;

                        border-radius: 28px;
                    }
                }
            }
        }
    }

    .fullCarousel > section{
        > section{

            h3{
                width: 256px;
                height: auto;
            }
    
        }

    }

    .templateSection1, .templateSection2, .templateSection3, .templateSection4, .templateSection5, .templateSection6, footer{
        padding: 56px 16px;
    }

    .templateSection6{
        > section{
            > section{
                > section{
                    p, h4{
                        width: 100%;
                    }
                }
            }
        }
    }
  }

  @keyframes dogTransition2_alt {
        
    0%{
        background-image: url(Images/dogStalker/pexels-cottonbro-5999682.jpg);
        background-size: cover;
        background-position: center center;
    }

    10%{
        background-image: url(Images/dogStalker/pexels-karolina-grabowska-6214831.jpg);
        background-size: cover;
        background-position: center center;
    }

    20%{
        background-image: url(Images/dogStalker/pexels-ron-lach-9785008.jpg);
    }

    40%{
        background-image: url(Images/dogStalker/Messages\ List.png);
        background-size: 60% auto;
        background-position: center center;
    }

    60%{
        background-image: url(Images/dogStalker/Community.png);
        background-size: 60% auto;
        background-position: center center;
    }

    80%{
        background-image: url(Images/dogStalker/Post\ with\ Media\ Options.png);
        background-size: 60% auto;
        background-position: center center;
    }

}
